<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="srrFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="File" value="./src/main/resources/logs/Number_To_Word_Convt_Log_Report.txt"/>
	<param name="DatePattern" value="'.'yyyy-MM-dd_HHmmss"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
	</layout>
</appender>

  <root>
    <priority value ="debug"/>
    <appender-ref ref="srrFileAppender"/>
  </root>
</log4j:configuration>

